/* weiyi.theme.modify 修改代码高亮样式 */
/* pygmentize -S monokai -f html >> css/pygments.css */
/* refer to http://havee.me/internet/2013-08/support-pygments-in-jekyll.html */
/* refer to https://github.com/mmistakes/hpstr-jekyll-theme  assets/css/main.css  keyword: highlight */

code {
    margin-bottom: 1.5em;
    font-size: 12px;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #d0d0d0;
    background-color: #49483e;		/*背景色*/
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/* weiyi.theme.modify support scrolling when using pygments with Jekyll */
/* http://stackoverflow.com/questions/11093233/how-to-support-scrolling-when-using-pygments-with-jekyll */
pre {
    position: relative;
    padding: 1em;
    margin: 0;
    white-space: pre;
    overflow: auto; 
}

pre code {
    font-family: Consolas, Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    font-size: 0.9em;
    line-height: 1.5;
    display: block;
    margin: 10px 0 8px 0;
    padding: 5px 15px;
    overflow-x: auto;
    word-wrap: break-word;
}

.hll { background-color: #49483e }
.c { color: #75715e } /* Comment */
.err { color: #960050; background-color: #1e0010 } /* Error */
.k { color: #66d9ef } /* Keyword */
.l { color: #ae81ff } /* Literal */
.n { color: #f8f8f2 } /* Name */
.o { color: #f92672 } /* Operator */
.p { color: #f8f8f2 } /* Punctuation */
.cm { color: #75715e } /* Comment.Multiline */
.cp { color: #75715e } /* Comment.Preproc */
.c1 { color: #75715e } /* Comment.Single */
.cs { color: #75715e } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #66d9ef } /* Keyword.Constant */
.kd { color: #66d9ef } /* Keyword.Declaration */
.kn { color: #f92672 } /* Keyword.Namespace */
.kp { color: #66d9ef } /* Keyword.Pseudo */
.kr { color: #66d9ef } /* Keyword.Reserved */
.kt { color: #66d9ef } /* Keyword.Type */
.ld { color: #e6db74 } /* Literal.Date */
.m { color: #ae81ff } /* Literal.Number */
.s { color: #e6db74 } /* Literal.String */
.na { color: #a6e22e } /* Name.Attribute */
.nb { color: #f8f8f2 } /* Name.Builtin */
.nc { color: #a6e22e } /* Name.Class */
.no { color: #66d9ef } /* Name.Constant */
.nd { color: #a6e22e } /* Name.Decorator */
.ni { color: #f8f8f2 } /* Name.Entity */
.ne { color: #a6e22e } /* Name.Exception */
.nf { color: #a6e22e } /* Name.Function */
.nl { color: #f8f8f2 } /* Name.Label */
.nn { color: #f8f8f2 } /* Name.Namespace */
.nx { color: #a6e22e } /* Name.Other */
.py { color: #f8f8f2 } /* Name.Property */
.nt { color: #f92672 } /* Name.Tag */
.nv { color: #f8f8f2 } /* Name.Variable */
.ow { color: #f92672 } /* Operator.Word */
.w { color: #f8f8f2 } /* Text.Whitespace */
.mf { color: #ae81ff } /* Literal.Number.Float */
.mh { color: #ae81ff } /* Literal.Number.Hex */
.mi { color: #ae81ff } /* Literal.Number.Integer */
.mo { color: #ae81ff } /* Literal.Number.Oct */
.sb { color: #e6db74 } /* Literal.String.Backtick */
.sc { color: #e6db74 } /* Literal.String.Char */
.sd { color: #e6db74 } /* Literal.String.Doc */
.s2 { color: #e6db74 } /* Literal.String.Double */
.se { color: #ae81ff } /* Literal.String.Escape */
.sh { color: #e6db74 } /* Literal.String.Heredoc */
.si { color: #e6db74 } /* Literal.String.Interpol */
.sx { color: #e6db74 } /* Literal.String.Other */
.sr { color: #e6db74 } /* Literal.String.Regex */
.s1 { color: #e6db74 } /* Literal.String.Single */
.ss { color: #e6db74 } /* Literal.String.Symbol */
.bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.vc { color: #f8f8f2 } /* Name.Variable.Class */
.vg { color: #f8f8f2 } /* Name.Variable.Global */
.vi { color: #f8f8f2 } /* Name.Variable.Instance */
.il { color: #ae81ff } /* Literal.Number.Integer.Long */


 /*post toc*/
#toc{
    width: 400px;
    margin: 0 auto;
    line-height:30px;
}
#toc ul{
    list-style-type:none;
    text-align:left;
}
#toc a {
    font-size: 12px;
    text-decoration: none;
}
#toc a:hover{
    color: #258fb8;
}
#toc .top-active a{
    color: #258fb8 !important;
}
#toc .top-h2 {
    padding-left: 12px;
}
#toc .top-h3 {
    padding-left: 24px;
}
#toc .top-h4 {          /* weiyi.theme.modify 修改左侧导航栏toc边距 */
    padding-left: 36px;
}
.grcode{
    float: right;
    top: 15px;
    color: #ffffff;

}
.qrcodeTable{
    z-index:2000;
    position: relative;
    top: 5px;
    left: -50px;
}
.search form INPUT[type="text"] {
    width: auto;
}
